@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;500&display=swap');
*{
    margin: 0;
    padding: 0;
}
body{
    background-color: var(--backround-color);
    font-family: 'Ubuntu';
}

.container{
    max-width: 1024px;
    background-color: var(--container-color);
    height: 100vh;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.light{
    --backround-color: rgb(164, 164, 164);
    --container-color: rgb(249, 249, 249);
    --title-color: rgb(25, 24, 24);
    --text-color: rgb(63, 41, 41);
    --backround-feilds:  rgb(255, 246, 246);
}

.dark{
    --backround-color: rgb(2, 2, 2);
    --container-color: rgb(44, 40, 40);
    --title-color: rgb(255, 246, 246);
    --text-color: rgb(244, 198, 198);
    --backround-feilds:  rgb(61, 61, 61);
}

.form{
    margin: 32px;
}

.form_title{
    font-style: normal;
    font-weight: 500;
    font-size: 28px;
    line-height: 32px;
}

.form_text{
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    margin-top: 4px;
}

.form_item{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 24px;
}

.form_fields{
    width: 320px ;
    margin-top:32px ;

}

.feild_input{
    width: 196px;
    padding: 8px;
    border-radius: 6px;
    border: none;
    border: 1px solid #887c7c  ;
    background: var(--backround-feilds);

}

.feild_select{
    width: 196px;
    padding: 8px;
    border-radius: 6px;
    border: 1px solid #887c7c  ;
    background: var(--backround-feilds);
}

.feild_text{
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    color: #585050;

}